body {
    background-color: lightblue;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    height: 100vh; 
    margin: 0; 
    text-align: center; 
}

.hidden {
    display: none; 
}

.message {
    font-size: 2em; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.title-box {
    background-color: #0000FF; 
    color: white; 
    padding: 20px; 
    border-radius: 20px; 
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px; 
}

.head-two {
    color: purple;
    text-decoration: underline;
    width: 100%;
}

.head-three {
    color: yellow;
    text-decoration: underline;
}

.head-four {
    color: aquamarine;
    text-decoration: underline;
}

.head-five {
    color: aqua;
    text-decoration: underline;
}

button {
    font-family: algerian;
    color: green;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

p {
    background-color: red;
    color: black;
    
}

.title-text {
    font-family: algerian;
    color: green;

}
